<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yelp Camp</title>
        <link rel="shortcut icon" href="../img/tent.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/6120860446.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/owl.theme.default.min.css"  rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script>function unhideDiv()
        {
          document.getElementById('divid').style = "display: block;";
          document.getElementById('commentButton').style = "display: none;";
        }
        </script>
    </head>
    <body>
    
    <div class="header">
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
          <a class="navbar-brand" href="/">YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Campgrounds</a></li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/resources">Resource</a></li>
                  <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav-link" href="/register">Sign Up</a></li>
                  <% } else { %>
                      <li class="nav-item"><a class="nav-link" href="/users/<%=currentUser.id%>">Hello, <%= currentUser.username %></a></li>
                      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                  <% } %>
            </ul>
          </div>
        </nav>
    </div>
    
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        <% if(message && message.length > 0){ %>
            <div class="alert alert-info" role="alert">
                <%= message %>
            </div>
        <% } %>
    </div>
    <div class="container">

<!--<div class="container">-->
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><%= campground.name %></p>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                      <em>Submitted by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div style='display: none;' id='divid'>
                    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" name="comment[text]" style="height: 250px"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
                <div class="text-right">
                     <p id="commentButton"class="btn btn-success" onClick="unhideDiv()">Add New Comment</p>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){%>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="media-object img-circle small-circle" src="<%= comment.author.avatar %>">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                 <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a class="btn btn-xs btn-warning" 
                                    href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form class="delete-form"action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
    <script>
      function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
          <strong><%= campground.name %><br />
          <%= campground.location %></strong>
          <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBthuvf7RnFl03lzkutrUrJrStNSf8eOYY&callback=initMap"></script>

<% include ../partials/footer %>